<body>
    <nav class="navbar navbar-expand-sm bg-light" *ngIf="showNav()">
        <div class="container">
          <a routerLink="/home" class="navbar-brand">Angular Login</a>
          
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item" style="float: left;">
                <a class="nav-link" routerLink="/about">About</a>
              </li>
            </ul>
          </div>
          <ul class="nav navbar-nav" style="float: right;">
            <li class="nav-item">
              <button type="button" class="btn btn-danger nav-link" (click)="onLogout();">Logout</button>
            </li>
          </ul>
        </div>
      </nav>
  <router-outlet></router-outlet>
</body>
