      <div class="container" align="center">
        <a style="margin-top: 1000px; margin: auto;">
          This is the about page for the Angular .NET Core Web Application
        </a>
      </div>
