<h1 align="center" style="margin:20px">Login Page</h1>
<br/>

<div class="wrapper" style="margin-top: 50px; max-width: 380px; margin: auto;">
  <div *ngIf="errorMessage" class="alert alert-warning">
    {{errorMessage}}
  </div>
  <form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" placeholder="Email address" autofocus required ngModel name="email" email #email="ngModel"/>
      <span style="color:red;" class="help-block" *ngIf="!email.valid && (email.dirty || email.touched)">Please Enter a Valid Email!</span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" required minlength="8"  ngModel name="password" password #password="ngModel" />
      <span style="color:red;" class="help-block" *ngIf="!password.valid && (password.dirty || password.touched)">Please Enter a Valid Password!</span>
    </div>

    <button class="btn btn-primary" type="submit" id="loginBtn">Login</button>
  </form>
</div>
